.node-red/flows_raspberrypi.json
[{"type":"tab","id":"bc0da1d1.50b18","label":"Sensor Gateway"},{"id":"4f4c813.a46368","type":"mqtt-broker","z":"bc0da1d1.50b18","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"d5146316.705c","type":"inject","z":"bc0da1d1.50b18","name":"Off (0)","topic":"toggle","payload":"0","payloadType":"string","repeat":"","crontab":"","once":false,"x":208,"y":106,"wires":[["4da0741f.557dbc","bf4c4d1d.ae8b4"]]},{"id":"2ebe5e24.e09a7a","type":"inject","z":"bc0da1d1.50b18","name":"On (1)","topic":"toggle","payload":"1","payloadType":"string","repeat":"","crontab":"","once":false,"x":212,"y":152,"wires":[["4da0741f.557dbc","bf4c4d1d.ae8b4"]]},{"id":"4da0741f.557dbc","type":"mqtt out","z":"bc0da1d1.50b18","name":"Publish to \"toggle\" topic","topic":"","qos":"","retain":"","broker":"4f4c813.a46368","x":413,"y":136,"wires":[]},{"id":"bf4c4d1d.ae8b4","type":"debug","z":"bc0da1d1.50b18","name":"","active":false,"console":"false","complete":"payload","x":388,"y":65,"wires":[]},{"id":"d275495e.931838","type":"mqtt in","z":"bc0da1d1.50b18","name":"Subscribe to \"toggle\" topic","topic":"toggle","broker":"4f4c813.a46368","x":424,"y":292,"wires":[["cfd59959.c3f5c8","790f1408.36226c"]]},{"id":"cfd59959.c3f5c8","type":"debug","z":"bc0da1d1.50b18","name":"","active":false,"console":"false","complete":"payload","x":707,"y":259,"wires":[]},{"id":"790f1408.36226c","type":"rpi-gpio out","z":"bc0da1d1.50b18","name":"","pin":"11","set":true,"level":"0","out":"out","x":689,"y":312,"wires":[]},{"id":"d79af91d.beab1","type":"mqtt in","z":"bc0da1d1.50b18","name":"Subscribe to \"sensor\" topic","topic":"sensor","broker":"4f4c813.a46368","x":430,"y":403,"wires":[["94718235.88591"]]},{"id":"94718235.88591","type":"debug","z":"bc0da1d1.50b18","name":"","active":true,"console":"false","complete":"false","x":718,"y":405,"wires":[]}]
