.node-red/flows_raspberrypi.json
[{"id":"d328081e.03b6c","type":"timeseries","z":"bc0da1d1.50b18","hostname":"127.0.0.1","port":"27017","db":"sensorDB","name":""},{"id":"4f4c813.a46368","type":"mqtt-broker","z":"bc0da1d1.50b18","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"d5146316.705c","type":"inject","z":"bc0da1d1.50b18","name":"Off (0)","topic":"toggle","payload":"0","payloadType":"string","repeat":"","crontab":"","once":false,"x":191,"y":66,"wires":[["4da0741f.557dbc","bf4c4d1d.ae8b4"]]},{"id":"2ebe5e24.e09a7a","type":"inject","z":"bc0da1d1.50b18","name":"On (1)","topic":"toggle","payload":"1","payloadType":"string","repeat":"","crontab":"","once":false,"x":193,"y":135,"wires":[["4da0741f.557dbc","bf4c4d1d.ae8b4"]]},{"id":"4da0741f.557dbc","type":"mqtt out","z":"bc0da1d1.50b18","name":"Publish to \"toggle\" topic","topic":"","qos":"","retain":"","broker":"4f4c813.a46368","x":413,"y":136,"wires":[]},{"id":"bf4c4d1d.ae8b4","type":"debug","z":"bc0da1d1.50b18","name":"","active":false,"console":"false","complete":"payload","x":388,"y":65,"wires":[]},{"id":"d275495e.931838","type":"mqtt in","z":"bc0da1d1.50b18","name":"Subscribe to \"toggle\" topic","topic":"toggle","broker":"4f4c813.a46368","x":649,"y":302,"wires":[["cfd59959.c3f5c8","42da2214.74738c"]]},{"id":"cfd59959.c3f5c8","type":"debug","z":"bc0da1d1.50b18","name":"","active":false,"console":"false","complete":"payload","x":932,"y":269,"wires":[]},{"id":"d79af91d.beab1","type":"mqtt in","z":"bc0da1d1.50b18","name":"Subscribe to \"sensor\" topic","topic":"sensor","broker":"4f4c813.a46368","x":655,"y":413,"wires":[["94718235.88591","6eb2beec.fb90e"]]},{"id":"94718235.88591","type":"debug","z":"bc0da1d1.50b18","name":"","active":true,"console":"false","complete":"false","x":943,"y":415,"wires":[]},{"id":"42da2214.74738c","type":"rpi-gpio out","z":"bc0da1d1.50b18","name":"","pin":"11","set":true,"level":"0","out":"out","x":961,"y":342,"wires":[]},{"id":"be1458eb.d94a08","type":"wunderground","z":"bc0da1d1.50b18","name":"Weather in Vegas, baby!","lon":"","lat":"","city":"Las Vegas","country":"NV","x":355,"y":655,"wires":[["fafbc068.653d38"]]},{"id":"96d37377.37f3f8","type":"inject","z":"bc0da1d1.50b18","name":"","topic":"","payload":"1","payloadType":"string","repeat":"","crontab":"","once":false,"x":159,"y":654,"wires":[["be1458eb.d94a08"]]},{"id":"fafbc068.653d38","type":"debug","z":"bc0da1d1.50b18","name":"","active":true,"console":"false","complete":"false","x":574,"y":656,"wires":[]},{"id":"fc42e8a9.fa859","type":"comment","z":"bc0da1d1.50b18","name":"Toggle your LED on/off","info":"","x":215,"y":30,"wires":[]},{"id":"d421e4b9.280778","type":"comment","z":"bc0da1d1.50b18","name":"Receive messages on MQTT topics","info":"The /home/pi/dht11.py Python script will grab reading off of your digital sensor, and package up a payload message and send them on 2 topics.\nThe \"toggle\" topic is used to send a binary 1/0 to turn yor LED on or off.\nThe \"sensor\" topic is used to send timestamp, temperature and humidity readings.\n\nOnce the payloads are received by the MQTT broker on your RPi, this Node-RED workflow will catch them and toggle your \"LED\" and pipe the sensor readings to an Informix TimeSeries database.","x":667,"y":241,"wires":[]},{"id":"6eb2beec.fb90e","type":"timeseries-- out","z":"bc0da1d1.50b18","timeseries":"d328081e.03b6c","name":"Insert sensor data into Informix TimeSeries","table":"thermometer_vti","x":1035,"y":460,"wires":[]}]
